{% extends "base.html" %}

{% block title %}Home | Mahak's Memes{% endblock %}

{% block content %}

<h2 class="text-center mb-4">🔥 Meme of the Day 🔥</h2>

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">

        <div class="card shadow">
            <video class="w-100 rounded-top" 
                   style="max-height: 350px; object-fit: cover;"controls autoplay muted loop>
                <source src="{{ url_for('static', filename='mahak.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <div class="card-body text-center">
                <p class="card-text">When the code finally works 😌</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}
